[Bug]: Login via E-Mail should be case insensitive

### Preflight Checklist

- [X] I could not find a solution in the documentation, the existing issues or discussions
- [X] I have joined the [ZITADEL chat](https://zitadel.com/chat)

### Environment

ZITADEL Cloud

### Version

_No response_

### Database

None

### Database Version

_No response_

### Describe the problem caused by this bug

users try to login using their E-Mail. When they type the E-Mail they may use capital letters (or maybe not). As a result we see a "user not found" message which is very confusing. 

See the following video:
https://github.com/zitadel/zitadel/assets/2493698/f4dd00e3-1ac2-4ce7-9056-60f787ffda33



### To reproduce

1. Go to the login screen and try to login with a wrongly cased email.

### Screenshots

_No response_

### Expected behavior

As a user I should be able to login with my email, irrelevant how I wrote it.

### Operating System

_No response_

### Relevant Configuration

_No response_

### Additional Context

_No response_

Looking at [RFC 5321, section 2.3.11](https://www.rfc-editor.org/rfc/rfc5321#section-2.3.11)

> Looking at [RFC 5321, section 2.3.11](https://www.rfc-editor.org/rfc/rfc5321#section-2.3.11) the part in front of the @ could be case sensitive (even though I am not aware of this in practice 😅)
> 
> @livio-a what is your take?

Was already informed on that issue by @sschoeb by email and stated that IMO we should fix that.

Since the email is used kind of as an alias to the loginname, i can't see why we would should check case sensitive for email but not for loginnames.
Making the search case insensitive could lead to having 2 results instead of 1 and then the user would not be allowed to login with those emails anymore, but i think that can be neglected. If you want to make sure the email is unique, you'll have to use that as a logionname directly.

Its is fine with me to change this... it also looks like [keycloak does the same](https://keycloak.discourse.group/t/login-german-username-with-case-insensitive/12278) 😁 