Incorrect HELO host

**Describe the bug**
When sending emails, zitadel send `HELO localhost` command on SMTP. This is incorrect. Set correct FQDN hostname.
For instance, Apple iCloud rejects such a mail.

**To Reproduce**
Steps to reproduce the behavior:
1. Register User
2. See log

**Expected behavior**
Send an email successfully to any providers.

**Screenshots**
None.

**Desktop (please complete the following information):**
None.

**Smartphone (please complete the following information):**
None.

**Additional context**
```
WARN[1519] unable to process all events from subscription  caller="/home/runner/work/zitadel/zitadel/internal/eventstore/handler/handler_projection.go:171" error="ID=EMAIL-s4is4 Message=could not set recipient: xxxx@icloud.com Parent=(450 4.7.1 <localhost>: Helo command rejected: Host not found)" projection=projections.notifications
```

@hifabienne I think we should improve the docs to make more clear how to configure Zitadel for this, do you agree?

Ah, It's necessary to add `EHLO` func to `func (smtpConfig SMTP) connectToSMTP(tlsRequired bool) (client *smtp.Client, err error)` in `/internal/notification]/channels/smtp/channel.go`.

> During setup this can be configured with the following config flags https://github.com/zitadel/zitadel/blob/main/cmd/defaults.yaml#L448 (on a running ZITADEL this can be changed in the instance settings)

@fforootd this is incorrect.
Please reference the smtp documentation for the net/smtp stdlib package https://pkg.go.dev/net/smtp#Client.Hello

> Hello sends a HELO or EHLO to the server as the given host name. Calling this method is only necessary if the client needs control over the host name used. The client will introduce itself as "localhost" automatically otherwise. If Hello is called, it must be called before any of the other methods. 

and that no where in [internal/notification/channels/smtp/channel.go](https://github.com/zitadel/zitadel/blob/c15658ea8c6a0d68df5505b97580dd2318e9fe19/internal/notification/channels/smtp/channel.go) is there a call to the Client.Hello function.

This also makes it impossible to send email via gmail as it specifically blocks the use of localhost in the helo/ehlo command.

@lordwelch I see let us check this in more detail. @hifabienne who can look into this?

> This also makes it impossible to send email via gmail as it specifically blocks the use of localhost in the helo/ehlo command.

Hm ok, interestingly we use Google SMTP-Relay for some of our mails and that works. (maybe this is due to some GSuite differences)

I am using an IP whitelist instead of an app-password, it is possible that Gmail has extra requirements because of this.

> I am using an IP whitelist instead of an app-password, it is possible that Gmail has extra requirements because of this.

This may well be 😁  We run it with authentication. See below our config:

```
DefaultInstance:
  SMTPConfiguration:
    From: {a no reply adress}
    FromName: ZITADEL
    Tls: true
    SMTP:
      Host: smtp.gmail.com:465
      User: {a gsuite user}
      Password: {a gsuite users password}
```

CC @livio-a 

@hifabienne to make it work for sure, we will need smtp templates or at least more options to configure (authN, ...)

@mzch Were you able to setup your smtp or do you still have issues?

As a workaround to let gmails smtp relay work with an IP whitelist can we have this set to the hostname, until smtp templates or whatever  are implemented? Which would be the correct thing to do per the [SMTP RFC 5321 Section 2.3.5] gmail at least blocks specifically the string 'localhost' you could even hardcode 'LOCALHOST' and gmail would then allow access as they only mean to stop un-configured clients/bots. Not being able to send email can make zitadel almost unusable as when creating an account if the 'Email Verified' checkbox is not set the user is put into the 'Initial' status and I see no way to remove it from this status. Even attempting an API call results in a denial `{"code":9,"message":"User is not yet initialized (COMMAND-J8dsk)","details":[{"@type":"type.googleapis.com/zitadel.v1.ErrorDetail","id":"COMMAND-J8dsk","message":"User is not yet initialized"}]}`. Using an app password with gmail is not desirable as it gives full unrestricted access to the account an IP whitelist only allows smtp traffic. A trivial call to `os.Hostname` would work:
```go
	hostname, err := os.Hostname()
	if err == nil {
		err = client.hello(hostname)
		if err != nil {
		return nil, caos_errs.ThrowInternal(err, "EMAIL-skwos", "could not make smtp dial")
	}
```

[SMTP RFC 5321 Section 2.3.5]: https://www.rfc-editor.org/rfc/rfc5321#section-2.3.5

Also affected by this issue. My mail server is very strict when it comes to FQDN `HELO`.

Created a summarized issue #8042, will move this into the backlog.

> smtp.gmail.com:465

Really appreciate sharing your configuration! Helped a lot as usually it is advised to use `smtp-relay.gmail.com` endpoint. Might be considered to be added as Gmail Workspace template in future versions.