Add support for Traefik ForwardAuth

### Preflight Checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions
- [X] I have joined the [ZITADEL chat](https://zitadel.com/chat)

### Describe your problem

Reverse proxy Traefik provides a simple ForwardAuth middleware ([doc](https://doc.traefik.io/traefik/middlewares/http/forwardauth/)) to add authentication in front of apps. It would be great if this could be enabled as `ForwardAuth` mode in Zitadel.

### Describe your ideal solution

**_Using an External Service to Forward Authentication_**
![authforward-all](https://github.com/zitadel/zitadel/assets/5221187/5481ce2f-66cb-43da-b923-0e32e519a503)

**Traefik ForwardAuth Flow**
1. New request comes to Traefik, is forwarded via ForwardAuth middleware to Zitadel
2. User is not auth'ed, Zitadel returns error status code and login page
3. New request with auth data comes to Traefik, is forwarded via ForwardAuth middleware to Zitadel
4. User is auth'ed, Zitadel returns status 200 and adds meta data in response header (like `X-Zitadel-User`)
5. Request is forwarded to final application with added auth headers (like `X-Zitadel-User`)

### Version

_No response_

### Environment

Self-hosted

### Additional Context

There was a [discussion on Discord](https://discord.com/channels/927474939156643850/1108682237865627708), but it's k8s heavy, maybe it just needs a Zitadel doc update with easy Docker compose :)

Google found a [Zitadel Github Discussion](https://github.com/zitadel/zitadel/discussions/5537) for this topic, it adds another external component to enable ForwardAuth.

I'd like to migrate from keycloak, but I need this in my homelab to keep my current configuration for services that don't have the ability to natively support IAM services.

There are also plugins for Traefik that integrate Keycloak for an easy integration:

![image](https://github.com/zitadel/zitadel/assets/7027842/ee9e0d2f-453a-499f-8f0e-90629f4498e7)

@fforootd have you had a chance to look at this? zitadel would be the perfect fit for all homelab use cases. :)

From my point of view it would be better if Zitadel just supports the really easy ForwardAuth logic (used by many reverse proxies), than implementing a plugin for a single reverse proxy.

I'd be willing to contribute to this (given a little bit of architectural guidance). I'm keen on migrating multiple organisations to Zitadel from Authelia, but without this, the solutions are too complicated to consider. 

There's oauth2-proxy, but introducing some 3rd party to handle a redirect does not seem like a good idea + the proxy has to be manually configured with oauth2 provider credentials so it duplicates the work and wouldn't even work correctly with multiple providers (as far as I can tell, but maybe I'm missing something).

This is the only blocker that prevents me from migrating.

I went over the traffic docs and there are a couple of things that are not clear. How does forward auth handle redirects? For example, in zitadel we use openID connect authentication flow where the user is redirected between the `authorization`, `login` and `token` endpoints until authentication is completed. Once we obtain the token, how does the client then send it through ForwardAuth, to zitadel to verify?

In my opinion ForwardAuth should be handled by a client (Resource Server or Relying Party in OIDC terms). Zitadel is an OpenID Provider, with only very limited verification logic. We do expose endpoints such as Introspection

For example, it should be very doable to run a Relying Party as Traefik plugin using our [OIDC RP package](https://pkg.go.dev/github.com/zitadel/oidc/v3/pkg/client/rp), or run it in a container as "AuthServer" in the ForwardedAuth use case. If redirects are supported, the user can even be redirected to a login page, if it is a html request.

After some reading, it seems feasible to implement this in a stand-alone binary from OIDC. I would allocate / estimate 2 days to setup a small proof-of-concept, @hifabienne 

To the community I might want to note that this _might_ have limited commercial value to zitadel, as such it might be required that the community needs to expand the proof-of-concept in the form of PRs later.

## Acceptance criteria

- [ ] Build a RP/RS OIDC client binary
- [ ] yaml config for endpoint, secret and keys configuration
- [ ] Basic documentation on how to run / configure the binary

> In my opinion ForwardAuth should be handled by a client (Resource Server or Relying Party in OIDC terms). Zitadel is an OpenID Provider, with only very limited verification logic. We do expose endpoints such as Introspection

Hi Tim. Your post motivated me to take a deeper look at this topic, I admit I didn't study OIDC enough when I made the request to support _Forward Auth_.

I took some time to study it more, and I agree with what you say: from an architectural perspective, it seems that a Relying Party is the way to go. And that is exactly what [traefik-forward-auth](https://github.com/thomseddon/traefik-forward-auth) does, and I succesfully integrated it with `Traefik` and `Zitadel`. Respect to other solutions, it also implements an `auth-host` mode, that allows users to have a single redirect url, so you can have a single Application in `Zitadel`, with a single redirect configured, to authenticate all services/apps in the homelab (my use-case).

Problem is that the project is not maintained, even if it works perfectly once you set it up correctly, and there are many forks because of that, but none of them convincing in terms of maintainability.

One thing I discovered that made me change idea a little bit is the [Forward Auth implementation](https://goauthentik.io/docs/providers/proxy/forward_auth) of `Authentik`. Reading their documentation, it seems they've implemented the Relying Party in the product, and it also supports the single-app model and the domain model (like the `auth-mode` of `traefik-forward-auth`). I haven't tested it because I want to use `Zitadel`, but I read it's working fine.

So from an architectural standpoint, the Relying Party is the way to go, but Authentik shows us that it can actually be implemented in the Provider.

Like I mentioned in previous post, I found several Traefik Plugins for Keycloak, but they are too specific for it, they're not really a standard OIDC Relying Party. So I forked one of them, with the objective to have an OIDC Relying Party plugin that should work with any standard OpenID Provider. I also implemented support for the automatic discovery of Provider's endpoints, that is missing in all plugins I checked.

The plugin is working fine with Zitadel, it's in alpha stage, but I can't move on because there's a minor issue with Traefik that is preventing me to release it, I need to open an issue to solve it.

The problem is that I'm not a developer (I was 20+ years ago), so it's my first time with Go, and I'm in the learning phase, but I'm having much fun learning a lot of new things. A professional Go developer would do a much better job than me, and I'm very open to contribution from experienced devs, mainly to fix this bug that's driving me crazy. The repo is [here](https://github.com/alexdelprete/traefik-oidc-relying-party), last version is the beta branch.

In conclusion, what I would ask you to consider is one of these two options:

1. creating an OpenID Relying Party, packaging it as binary and also as a docker image, etc. in order to replace (and extend) `traefik-forward-auth`. From a quick look, the SDK RP implementation is missing the `auth-host` mode (or domain level forward auth, in `Authentik` terminology). It would be interesting if in `Zitadel`, we could use wildcards for the Redirect URI setting:

![image](https://github.com/zitadel/zitadel/assets/7027842/ae23473d-1914-4bf1-86bd-c68daa6c9dce)

2. creating an official Traefik plugin, with all the functionalities (auth-host/domain redirect URL, support PKCE, JWT, etc.

I believe option 1 is better, since it could be used also for other reverse proxy solutions, and it would support more use-cases, implementing additional auth "schemes" (PKCE, JWT, etc.), and hopefully it would be maintained properly by devs and community.

Just my €0.02, looking forward to your feedback, and thanks for your engagement on this, it's highly appreciated.

Alessandro



Thanks for the investigation and feedback. Makes my life easier :).

For the redirect URL I was thinking to use a single URL that redirects into the RP, so that it can obtain tokens and set them in a cookie. The original request URL can be encoded as part of the state parameter when the authorize endpoint is called. When we get the Token Response, we also get the state back so we know where to redirect the user. 

> Thanks for the investigation and feedback. Makes my life easier :).

My pleasure Tim. I like what you guys did with Zitadel, and if I can contribute making a product I use better, I'm more than happy giving some time to it contributing for what I can. :)

> For the redirect URL I was thinking to use a single URL that redirects into the RP, so that it can obtain tokens and set them in a cookie. The original request URL can be encoded as part of the state parameter when the authorize endpoint is called. When we get the Token Response, we also get the state back so we know where to redirect the user.

That is very close (if not identical) to how the `auth-mode` of [traefik-forward-auth](https://github.com/thomseddon/traefik-forward-auth) works, and indeed using State to preserve the original requested URL is the cleanest way to know where the RP should redirect the user.

That project is very good, unfortunately it's not maintained since quite some time and the other issue is that it only supports the Code Flow, so we're missing PKCE, JWT profile, etc. But it works very very good.

So your idea is implementing something like that project, leveraging Zitadel SDK RP package so we have a flexible/standardized and also certified RP? That would be AWESOME! :)

> Although wildcard support is on the way, it is only supposed to be used in developer mode.

That is great news. What are the drawbacks of developer mode? Is that just a checkbox to say: "we're deviating from the spec" ? I hope there's no functional limitations other than a voluntary ack that we're not in the spec enabling that.

> I wouldn't want to implement any production code depending on wildcards

I don't know, there are MANY use-cases in the world. I'm never in favor of too much rigidity in that regard. Also in enterprise environments there could be usa-cases that would fit well with wildcards. Instead of a "developer mode" it would be nice to have an "enable wildcard support".

> It is forbidden in the standard and considered insecure

Playing the devil's advocate now: from what I read, it's not forbidden explicitly, because the spec refers to "match", and wildcard **_is_** a type of matching. But I understand where you take the "forbidden" from: when the spec talks about string comparison as described in RFC3986. Correct?

> That might be fine for a homelab, but once we release this it might as well be used in professional environments.

Exactly, unfortunately when you write specs, you are never able to consider every possible use-case, and I'm quite sure that the wildcard support could also be beneficial to professional/enterprise use-cases.

Thanks a lot Tim, let me know what I can do for you in order to help, it would be a pleasure.

Alessandro

>  But I understand where you take the "forbidden" from: when the spec talks about string comparison as described in RFC3986. Correct?

yes, [RFC3986 section 6.2.1](https://www.rfc-editor.org/rfc/rfc3986#section-6.2.1) mentions `character-by-character` comparison., which does not include wildcards. And for example by fixing it to this specific section it also excludes the following "Normalization" cases. So for OIDC `https://example.com` is not the same as `https://example.com:443` as a URI string.

I would like to note that I consider the wildcard discussion out-of-scope for this issue, so lets not further dwell and pollute the purpose of this issue. There is a discussed and approved issue here: https://github.com/zitadel/zitadel/issues/5110 which somebody is now implementing.


I would like to note that zitadel engineers work on business-priorities and it might take a while before we pick this up. However, we do approve of the proposed functionality to if anyone want to step in and contribute a PR is welcome.  Acceptance criteria are here: https://github.com/zitadel/zitadel/issues/6912#issuecomment-1859176840.

Feel free to reach out to me on our discord server if guidance is required. (note the upcoming holidays, might take some time before i respond).

> I would like to note that zitadel engineers work on business-priorities and it might take a while before we pick this up. However, we do approve of the proposed functionality

Thanks a lot for accepting this. I will monitor this issue and the relevant discussion on Discord [here](https://discord.com/channels/927474939156643850/1108682237865627708) for updates.

> 
> The problem is that I'm not a developer (I was 20+ years ago), so it's my first time with Go, and I'm in the learning phase, but I'm having much fun learning a lot of new things. A professional Go developer would do a much better job than me, and I'm very open to contribution from experienced devs, mainly to fix this bug that's driving me crazy. The repo is [here](https://github.com/alexdelprete/traefik-oidc-relying-party), last version is the beta branch.
> 
> In conclusion, what I would ask you to consider is one of these two options:
> 
> 1. creating an OpenID Relying Party, packaging it as binary and also as a docker image, etc. in order to replace (and extend) `traefik-forward-auth`. From a quick look, the SDK RP implementation is missing the `auth-host` mode (or domain level forward auth, in `Authentik` terminology). It would be interesting if in `Zitadel`, we could use wildcards for the Redirect URI setting:
> 
> ![image](https://private-user-images.githubusercontent.com/7027842/291329344-ae23473d-1914-4bf1-86bd-c68daa6c9dce.png?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3MTQ5MzUyNDEsIm5iZiI6MTcxNDkzNDk0MSwicGF0aCI6Ii83MDI3ODQyLzI5MTMyOTM0NC1hZTIzNDczZC0xOTE0LTRiZjEtODZiZC1jNjhkYWE2YzlkY2UucG5nP1gtQW16LUFsZ29yaXRobT1BV1M0LUhNQUMtU0hBMjU2JlgtQW16LUNyZWRlbnRpYWw9QUtJQVZDT0RZTFNBNTNQUUs0WkElMkYyMDI0MDUwNSUyRnVzLWVhc3QtMSUyRnMzJTJGYXdzNF9yZXF1ZXN0JlgtQW16LURhdGU9MjAyNDA1MDVUMTg0OTAxWiZYLUFtei1FeHBpcmVzPTMwMCZYLUFtei1TaWduYXR1cmU9YjZjNWYxMTVhNWYwOWE1YThmNGJiY2ZjZDQzOGYwZmE2ZjUzY2Y4ODg3NDhlMjM4NDZjYTkzZDRjNGY3YjRmMSZYLUFtei1TaWduZWRIZWFkZXJzPWhvc3QmYWN0b3JfaWQ9MCZrZXlfaWQ9MCZyZXBvX2lkPTAifQ.5efUyTbq_0L0dDrVw841R1fgNuybxcdOnZeez6Cqbyo)
> 
> 2. creating an official Traefik plugin, with all the functionalities (auth-host/domain redirect URL, support PKCE, JWT, etc.
> 
> I believe option 1 is better, since it could be used also for other reverse proxy solutions, and it would support more use-cases, implementing additional auth "schemes" (PKCE, JWT, etc.), and hopefully it would be maintained properly by devs and community.
> 
> Just my €0.02 (and sorry for the long post), looking forward to your feedback, and thanks for your engagement on this, it's highly appreciated.
> 
> Alessandro


Hi @alexdelprete, have you a tuto / Readme / wiki to use you plugin ? I have tried but no result with my zitadel test instance


I apologize for asking, but is there a way to set up ForwardAuth in Zitadel? I wouldn't mind even if I have to use a 3rd party plugin or tool. I am using Zitadel and Traefik v3 in a homelab.

> I apologize for asking, but is there a way to set up ForwardAuth in Zitadel? I wouldn't mind even if I have to use a 3rd party plugin or tool. I am using Zitadel and Traefik v3 in a homelab.

I use this great middleware by @sevensolutions: https://github.com/sevensolutions/traefik-oidc-auth

Works great.

Thank you! I'll have a look at it. Did you encounter any pitfalls? I don't suppose you have an excerpt or a basic configuration you could share? I'll check it myself later tonight and perhaps I'll be able to share something for everyone.

Hey @alexdelprete , thank you for your help. Sadly it still doesn't really work. I may have an issue with how I created the application in Zitadel (I used the wizard and used PKCE, copied the `clientId` and added the `redirectUri` for `https://whoami-secure.my.world`).

The issue I am getting is, that `whoami-secure` is stuck at the URL `https://whoami-secure.my.world/oidc/callback?code=rpAC-qH9swC7DvnB7aot69dI37xpjGZVU7bbN9iD-4a4RA&state=eyJhY3Rpb24iOiJMb2dpbiIsInJlZGlyZWN0X3VybCI6Imh0dHBzOi8vd2hvYW1pLXNlY3VyZS5teS53b3JsZC8ifQ%3D%3D` with the message:
```
Returned token is not valid
```

I am struggling to figure out why.

I am adding my whole configuration for reference purposes. Don't mind the secrets (if I didn't redact them), because I am still in the setting up phase of my system and I'll most likely reset them later anyway.

<details>
<summary><code>docker-compose.yml</code> (Traefik v3)</summary>

```yaml
networks:
  default:
    name: services-network
    external: true

volumes:
  step-ca-data:
    external: true
  traefik-tmp-certs:
    external: true

services:
  traefik:
    image: traefik:v3.0
    container_name: traefik
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    environment:
      - TZ=Europe/Berlin
      - TRAEFIK_LOG_LEVEL=INFO
      - TRAEFIK_ACCESSLOG=true
      - TRAEFIK_API=true
      - TRAEFIK_API_DASHBOARD=true
      - TRAEFIK_API_INSECURE=true
      - TRAEFIK_PROVIDERS_DOCKER=true
      - TRAEFIK_PROVIDERS_DOCKER_EXPOSEDBYDEFAULT=false
      - TRAEFIK_PROVIDERS_DOCKER_NETWORK=services-network
      - TRAEFIK_ENTRYPOINTS_WEB_ADDRESS=:80
      - TRAEFIK_ENTRYPOINTS_WEBSECURE_ADDRESS=:443
      - TRAEFIK_ENTRYPOINTS_MQTT_ADDRESS=:1883
      - TRAEFIK_ENTRYPOINTS_MQTTWS_ADDRESS=:9001
      - TRAEFIK_ENTRYPOINTS_POSTGRES_ADDRESS=:5432
      - TRAEFIK_ENTRYPOINTS_WEB_HTTP_REDIRECTIONS_ENTRYPOINT_TO=websecure
      - TRAEFIK_ENTRYPOINTS_WEB_HTTP_REDIRECTIONS_ENTRYPOINT_SCHEME=https
      - TRAEFIK_ENTRYPOINTS_WEBSECURE_HTTP_TLS=true
      - TRAEFIK_ENTRYPOINTS_WEBSECURE_HTTP_TLS_CERTRESOLVER=stepca
      - TRAEFIK_CERTIFICATESRESOLVERS_STEPCA_ACME_EMAIL=admin@my.world
      - TRAEFIK_CERTIFICATESRESOLVERS_STEPCA_ACME_STORAGE=/certs/acme.json
      - TRAEFIK_CERTIFICATESRESOLVERS_STEPCA_ACME_CASERVER=https://step-ca:9000/acme/acme/directory
      - TRAEFIK_CERTIFICATESRESOLVERS_STEPCA_ACME_TLSCHALLENGE=true
      - LEGO_CA_CERTIFICATES=/home/step/certs/root_ca.crt
      - TRAEFIK_EXPERIMENTAL_PLUGINS_TRAEFIK-OIDC-AUTH_MODULENAME=github.com/sevensolutions/traefik-oidc-auth
      - TRAEFIK_EXPERIMENTAL_PLUGINS_TRAEFIK-OIDC-AUTH_VERSION=v0.11.0
    ports:
      # Traefik web
      - 80:80 # web port
      - 443:443 # websecure port
      # MQTT
      - 1883:1883 # mqtt port
      - 9001:9001 # mqttws port
      # PostgreSQL
      - 5432:5432 # postgres-db port
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /etc/ssl/certs/ca-certificates.crt:/etc/ssl/certs/ca-certificates.crt:ro
      - step-ca-data:/home/step:ro
      - traefik-tmp-certs:/certs
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=services-network"
      - "traefik.http.routers.traefik.rule=Host(`traefik.my.world`)"
      - "traefik.http.routers.traefik.entrypoints=websecure"
      - "traefik.http.routers.traefik.service=api@internal"
      - "traefik.http.routers.traefik.middlewares=redirect-to-dashboard,authelia@docker"
      - "traefik.http.middlewares.redirect-to-dashboard.redirectregex.regex=^/$"
      - "traefik.http.middlewares.redirect-to-dashboard.redirectregex.replacement=/dashboard/"
      # Add the OIDC middleware definition
      - "traefik.http.middlewares.oidc-auth.plugin.traefik-oidc-auth.LogLevel=DEBUG"
      - "traefik.http.middlewares.oidc-auth.plugin.traefik-oidc-auth.CallbackUri=/oidc/callback"
      - "traefik.http.middlewares.oidc-auth.plugin.traefik-oidc-auth.LogoutUri=/oidc/logout"
      - "traefik.http.middlewares.oidc-auth.plugin.traefik-oidc-auth.SessionCookie.Domain=.my.world"
      - "traefik.http.middlewares.oidc-auth.plugin.traefik-oidc-auth.Provider.Url=https://zitadel.my.world"
      - "traefik.http.middlewares.oidc-auth.plugin.traefik-oidc-auth.Provider.ClientId=320206239613124621"
      - "traefik.http.middlewares.oidc-auth.plugin.traefik-oidc-auth.Provider.UsePkce=true"
      - "traefik.http.middlewares.oidc-auth.plugin.traefik-oidc-auth.Scopes=openid,profile,email"
      - "traefik.http.middlewares.oidc-auth.plugin.traefik-oidc-auth.BypassAuthenticationRule=HeaderRegexp(`X-Real-Ip`, `^10\\.1\\.`) || HeaderRegexp(`X-Real-Ip`, `^172\\.`) || HeaderRegexp(`X-Real-Ip`, `^127\\.0\\.`)"
      - "traefik.http.middlewares.oidc-auth.plugin.traefik-oidc-auth.Headers[0].Name=X-Oidc-Username"
      - "traefik.http.middlewares.oidc-auth.plugin.traefik-oidc-auth.Headers[0].Value={{`{{ .claims.preferred_username }}`}}"
      - "traefik.http.middlewares.oidc-auth.plugin.traefik-oidc-auth.Headers[1].Name=X-Oidc-Subject"
      - "traefik.http.middlewares.oidc-auth.plugin.traefik-oidc-auth.Headers[1].Value=sub"
      - "traefik.http.middlewares.oidc-auth.plugin.traefik-oidc-auth.Headers[2].Name=Authorization"
      - "traefik.http.middlewares.oidc-auth.plugin.traefik-oidc-auth.Headers[2].Value={{`Bearer {{ .accessToken }}`}}"
```
</details>
<details>
<summary><code>docker-compose.yml</code> (whoami)</summary>

```yaml
networks:
  default:
    name: services-network
    external: true

services:
  whoami-secure:
    image: traefik/whoami
    container_name: whoami-secure
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.whoami-secure.rule=Host(`whoami-secure.my.world`)"
      - "traefik.http.routers.whoami-secure.entrypoints=websecure"
      - "traefik.http.routers.whoami-secure.middlewares=oidc-auth@docker"
```
</details>
<details>
<summary><code>docker-compose.yml</code> (Zitadel v3)</summary>

```yaml
networks:
  services-network:
    external: true
  zitadel-internal:
    external: true

volumes:
  zitadel-db-data:
    external: true
    
services:
  zitadel-db:
    image: postgres:17-alpine
    container_name: zitadel-db
    restart: unless-stopped
    environment:
      - PGUSER
      - POSTGRES_PASSWORD
    networks:
      zitadel-internal:
    volumes:
      - zitadel-db-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready", "-d", "zitadel", "-U", "postgres"]
      interval: '10s'
      timeout: '30s'
      retries: 5
      start_period: '20s'

  zitadel:
    image: ghcr.io/zitadel/zitadel:latest
    container_name: zitadel
    restart: unless-stopped
    networks:
      services-network:
      zitadel-internal:
    command: 'start-from-init --masterkeyFile /tmp/zitadel-masterkey --tlsMode external'
    environment:
      - PGUSER=postgres
      - POSTGRES_PASSWORD=postgres
      - ZITADEL_EXTERNALDOMAIN=zitadel.my.world
      - ZITADEL_EXTERNALPORT=443
      - ZITADEL_EXTERNALSECURE=true
      - ZITADEL_FIRSTINSTANCE_INSTANCENAME=Sanctum
      - ZITADEL_FIRSTINSTANCE_ORG_NAME=sanctum
      - ZITADEL_DATABASE_POSTGRES_HOST=zitadel-db
      - ZITADEL_DATABASE_POSTGRES_PORT=5432
      - ZITADEL_DATABASE_POSTGRES_DATABASE=zitadel
      - ZITADEL_DATABASE_POSTGRES_USER_USERNAME=zitadel
      - ZITADEL_DATABASE_POSTGRES_USER_PASSWORD=zitadel
      - ZITADEL_DATABASE_POSTGRES_USER_SSL_MODE=disable
      - ZITADEL_DATABASE_POSTGRES_ADMIN_USERNAME=postgres
      - ZITADEL_DATABASE_POSTGRES_ADMIN_PASSWORD=postgres
      - ZITADEL_DATABASE_POSTGRES_ADMIN_SSL_MODE=disable
    volumes:
      - /mnt/storage/service-configs/zitadel/zitadel-masterkey_enc:/tmp/zitadel-masterkey
    labels:
      - "traefik.enable=true"
      # HTTP Router (for redirects to HTTPS)
      - "traefik.http.routers.zitadel-http.rule=Host(`zitadel.my.world`)"
      - "traefik.http.routers.zitadel-http.entrypoints=web"
      - "traefik.http.routers.zitadel-http.middlewares=zitadel-https-redirect"
      # HTTP to HTTPS redirect middleware
      - "traefik.http.middlewares.zitadel-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.middlewares.zitadel-https-redirect.redirectscheme.permanent=true"
      # HTTPS Router
      - "traefik.http.routers.zitadel-https.rule=Host(`zitadel.my.world`)"
      - "traefik.http.routers.zitadel-https.entrypoints=websecure"
      - "traefik.http.routers.zitadel-https.tls=true"
      # Service configuration with HTTP/2 Cleartext
      - "traefik.http.services.zitadel.loadbalancer.server.port=8080"
      - "traefik.http.services.zitadel.loadbalancer.server.scheme=h2c"

      # Optional: Console redirect middleware
      - "traefik.http.middlewares.redirect-to-console.redirectregex.regex=^/$"
      - "traefik.http.middlewares.redirect-to-console.redirectregex.replacement=/ui/console"
      - "traefik.http.routers.zitadel-https.middlewares=redirect-to-console"
    depends_on:
      zitadel-db:
        condition: 'service_healthy'
```
</details>

**Do you perhaps have an idea of what I might be doing wrong?**

I use wildcards for callback/logout URIs, that requires dev mode enabled if you want to use it. I'll post the entire zitadel app config, token included.

> Zitadel Application Config:

![Image](https://github.com/user-attachments/assets/11df10ff-b86a-4f21-bcb2-8864a909901c)

![Image](https://github.com/user-attachments/assets/7dc86ccf-4543-4811-955f-618ca2982e1c)

![Image](https://github.com/user-attachments/assets/46a6854b-0d0c-4170-ada0-e70aef3c3225)


@alexdelprete  thank you! I just found https://github.com/sevensolutions/traefik-oidc-auth/issues/8#issuecomment-2334403969. The crucial hint was to use JWT as the Auth Token Type. After this change everything started working.

Ah - right. I was about to ask this: since I am specifying a `traefik.http.middlewares.oidc-auth.plugin.traefik-oidc-auth.Provider.ClientId`, I assume I'd need to create a middleware for each service I want to protect (if I didn't want to use wildcard + dev mode)?

Still, the `traefik-oidc-auth` is really an awesome addition to the authentication workflow, especially with Zitadel. And with your help I managed to get it working. Thank you! I'll see if I can create a PR for the documentation.