[Bug]: Email Bogus MIME version and other deliverability issues

### Preflight Checklist

- [X] I could not find a solution in the documentation, the existing issues or discussions
- [X] I have joined the [ZITADEL chat](https://zitadel.com/chat)

### Environment

ZITADEL Cloud

### Version

Latest

### Database

None

### Database Version

_No response_

### Describe the problem caused by this bug

mail-tester.com is reporting a Bogus MIME version header from the initial user email. I assume this is the same issue with the other transactional emails.

Other issues to improve deliverability:
1. No text/plain version. This should be easy to fix.
2. HTML version has font has low contrast

### To reproduce

1. Go to mail-tester.com and copy the email address
2. Register a new user using this address
3. Check the deliverability score

### Screenshots

<img width="1088" alt="zitadel-email-issues" src="https://github.com/zitadel/zitadel/assets/4714862/81b07ad4-5b7f-47f2-8efd-89f682d97e9e">


### Expected behavior

_No response_

### Operating System

_No response_

### Relevant Configuration

_No response_

### Additional Context

_No response_

Hi @brandonkal 

Not quite sure, I tried to find out if this is a case of case-sensitivity where there is no defined handling.
Created #7886 for the version.

With the definition under [RFC-2045](https://www.rfc-editor.org/rfc/rfc2045#section-4) it should be "MIME-Version", but with [RFC-2045 Section 2](https://www.rfc-editor.org/rfc/rfc2045#section-2):
```
 All numeric and octet values are given in decimal notation in this
 set of documents. All media type values, subtype values, and
 parameter names as defined are case-insensitive.  However, parameter
 values are case-sensitive unless otherwise specified for the specific
 parameter.
```

and "parameter names as defined are case-insesitive", I'm not sure if mail-tester.com maybe handles it wrong, do you have any information about that?

Mail-tester is using SpamAssassin for that score. So I would think it is handling it correctly since SpamAssassin is commonly deployed

Hi @stebenz I've tested email sending with mail-tester.com and the issue with Bogus MIME version is no longer there

![image](https://github.com/zitadel/zitadel/assets/30386061/d7ad7a7b-92c3-41f7-b845-76285bb92c1a)

I think the issue can be closed

I can confirm the issue of Bogus MIME is fixed. The issue of no text/plain version (HTML only message) still remains